* {
    margin: 0;
    padding: 0;
    font-family: "IRANSans";
    text-decoration: none;
    direction: rtl;
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

.ReactModal__Body--open {
  overflow: hidden;
}

