.modal-open {
    overflow: hidden;
    height: 100%;
}



@include tablet {
    body {
            &::-webkit-scrollbar {
                display: none;
            }

            &.menu-open{
                overflow: hidden;
                height: 100%;  
            }
        }
}