
// $global-padding: 250px;
$global-padding: 10.5vw;

$footer-padding: 1px;

$global-transition: all 0.3s ease-in-out;

$font-15px: calc(0.5vw + 9px);
$font-20px: calc(0.67vw + 10.67px);
$font-25px: calc(0.835vw + 14.335px);
$font-27px: calc(0.9vw + 16.8px);
$font-30px: calc(1vw + 18px);
$font-35px: calc(1.67vw + 21px);
$font-40px: calc(1.33vw + 21.33px);
$font-45px: calc(1.5vw + 27px);
$font-60px: calc(2vw + 32px);
$font-75px: calc(2.5vw + 40px);
$font-120px: calc(4vw + 64px);
$font-130px: calc(4.34vw + 69.34px);

$mobile: 480px;
$tablet: 850px;
