$honey-saturated-color:#ffae00;
$honey-color: #ffc446;
$honey-dark-color: #c48500;
$honey-dark-color2: #5e4000;

$red-main: #ef394e;
$brand-pink-dark: #dc3165;
$brand-pink-light: #f794b3;
$brand-pink-primary: #f04d7d;
$brand-blue-primary: #41c1c6;
$brand-blue-light: #85dbdb;
$brand-blue-dark: #2fa7ae;
$hint-success: #16d39a;
$hint-rating: #ffeb3b;
$hint-caution: #ffa87d;
$hint-error: #ff7588;
$neutral-000: #ffffff;
$neutral-050: #f5f5f5;
$neutral-100: #e9e9e9;
$neutral-200: #d9d9d9;
$neutral-300: #c4c4c4;
$neutral-400: #9d9d9d;
$neutral-500: #7b7b7b;
$neutral-600: #555555;
$neutral-700: #434343;
$neutral-800: #262626;
$neutral-900: #000000;