.modal-open {
  overflow: hidden;
  height: 100%; }

@media screen and (max-width: 850px) {
  body::-webkit-scrollbar {
    display: none; }
  body.menu-open {
    overflow: hidden;
    height: 100%; } }

* {
  margin: 0;
  padding: 0;
  font-family: "IRANSans";
  text-decoration: none;
  direction: rtl;
  appearance: none;
  outline: none;
  border: none;
  background: none; }

.ReactModal__Body--open {
  overflow: hidden; }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype"); }

.u-disabled {
  pointer-events: none;
  opacity: 0.5; }

.u-hidden {
  display: none; }

@font-face {
  font-family: 'honey';
  src: url("../fonts/honey.eot");
  src: url("../fonts/honey.eot?#iefix") format("eot"), url("../fonts/honey.woff2") format("woff2"), url("../fonts/honey.woff") format("woff"), url("../fonts/honey.ttf") format("truetype"); }

[data-icon] {
  display: inline-block;
  line-height: 1; }

[data-icon]:before {
  display: inline-block;
  font-family: 'honey';
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1; }

[data-icon="cardiogram"]:before {
  content: "\F001\00FE0E"; }

[data-icon="description"]:before {
  content: "\F002\00FE0E"; }

[data-icon="guarantee"]:before {
  content: "\F003\00FE0E"; }

[data-icon="shipped"]:before {
  content: "\F004\00FE0E"; }

.navbar__list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.main-content {
  min-height: 4vh; }
