.modal-open {
  overflow: hidden;
  height: 100%; }

@media screen and (max-width: 850px) {
  body::-webkit-scrollbar {
    display: none; }
  body.menu-open {
    overflow: hidden;
    height: 100%; } }

* {
  margin: 0;
  padding: 0;
  font-family: "IRANSans";
  text-decoration: none;
  direction: rtl;
  appearance: none;
  outline: none;
  border: none;
  background: none; }

.ReactModal__Body--open {
  overflow: hidden; }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype"); }

.u-disabled {
  pointer-events: none;
  opacity: 0.5; }

.u-hidden {
  display: none; }

@font-face {
  font-family: 'honey';
  src: url("../fonts/honey.eot");
  src: url("../fonts/honey.eot?#iefix") format("eot"), url("../fonts/honey.woff2") format("woff2"), url("../fonts/honey.woff") format("woff"), url("../fonts/honey.ttf") format("truetype"); }

.product-details__health-header:before, .product-details__description-header:before, .product-details__warranty:before, .product-details__shipping:before {
  font-family: 'honey';
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1; }

[data-icon] {
  display: inline-block;
  line-height: 1; }

[data-icon]:before {
  display: inline-block;
  font-family: 'honey';
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1; }

[data-icon="cardiogram"]:before {
  content: "\F001\00FE0E"; }

[data-icon="description"]:before {
  content: "\F002\00FE0E"; }

[data-icon="guarantee"]:before {
  content: "\F003\00FE0E"; }

[data-icon="shipped"]:before {
  content: "\F004\00FE0E"; }

.navbar__list-wrapper {
  background-color: #ffc446; }

.navbar__container {
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 0 3px 6px -2px #cac9c9; }

.navbar__list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.navbar__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #ffc446; }
  .navbar__list-item + .navbar__list-item {
    margin-right: 10px; }
  .navbar__list-item::after {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    opacity: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #5e4000; }
  .navbar__list-item:hover::after {
    opacity: 1;
    width: 100%; }

.navbar__list-item-link {
  position: relative;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
  padding: 8px;
  color: #5e4000;
  text-align: center;
  min-width: 60px; }

.navbar__list-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: normal;
  font-weight: normal;
  position: absolute;
  top: 6px;
  left: -7px;
  height: 17px;
  width: 17px;
  background-color: #5e4000;
  border-radius: 50%;
  color: #ffffff; }

.product-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  column-gap: 16px;
  row-gap: 16px;
  justify-items: stretch; }

.product-list__header {
  font-size: 25px;
  line-height: normal;
  font-weight: normal;
  margin: 20px 0; }

.product__container {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  padding: 16px;
  top: 0; }
  .product__container:hover {
    top: -2px;
    box-shadow: 0px 0px 5px 0px gainsboro; }

.product__image-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
  height: 200px;
  width: 200px; }

.product__image-primary {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.product__name {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #434343; }

.product__package-name {
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  color: #7b7b7b; }

.product__info-row {
  position: relative;
  display: flex;
  align-items: center; }
  .product__info-row--spaced {
    justify-content: space-between; }
  .product__info-row--price {
    padding-top: 24px; }

.product__price-floated {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; }

.product__price-crossed {
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  color: #c4c4c4;
  text-decoration: line-through; }

.product__price {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  color: #000000; }
  .product__price--red {
    color: #f04d7d; }
    .product__price--red .price-label {
      color: #f04d7d; }

.product__price-label {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  margin-top: 3px;
  margin-right: 3px; }
  .product__price-label--red {
    color: #f04d7d; }

.product__discount-badge {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  padding: 0 3px;
  background-color: #fb3449;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 4px; }

.product__availability {
  position: absolute;
  padding: 4px;
  color: #ffffff;
  left: 0;
  top: 10px; }
  .product__availability--ready {
    background-color: #05b02d; }
  .product__availability--empty {
    background-color: #7b7b7b; }

.gallery__wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden; }

.gallery__item-wrapper {
  max-width: 350px;
  max-height: 350px;
  display: flex;
  justify-content: center; }

.gallery__image-item {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.product-details__container {
  display: flex; }

.product-details__gallery {
  flex: 1;
  margin: 10px; }

.product-details__name {
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  color: #000000;
  margin-bottom: 12px; }

.product-details__info-container {
  display: flex;
  flex: 2;
  padding-right: 15px;
  border-right: 1px solid #e9e9e9; }

.product-details__health-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  color: #262626; }
  .product-details__health-header:before {
    content: "\F001\00FE0E"; }
  .product-details__health-header::before {
    color: red;
    font-size: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px; }

.product-details__health-list {
  color: #434343;
  padding-right: 6px;
  font-size: 13px;
  line-height: normal;
  font-weight: normal;
  white-space: pre-line; }

.product-details__description {
  margin-top: 16px; }

.product-details__description-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  color: #262626; }
  .product-details__description-header:before {
    content: "\F002\00FE0E"; }
  .product-details__description-header::before {
    color: #262626;
    font-size: 16px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px; }

.product-details__description-text {
  color: #434343;
  font-size: 13px;
  line-height: normal;
  font-weight: normal;
  padding-right: 6px; }

.product-details__purchase-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0 20px;
  margin-right: 16px;
  max-width: 300px; }

.product-details__purchase-row {
  padding: 20px 0; }
  .product-details__purchase-row + .product-details__purchase-row {
    border-top: 1px solid #d9d9d9; }

.product-details__warranty {
  display: flex;
  color: #434343;
  font-size: 16px;
  line-height: normal;
  font-weight: normal; }
  .product-details__warranty:before {
    content: "\F003\00FE0E"; }
  .product-details__warranty::before {
    font-size: 26px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555555;
    margin-left: 8px; }

.product-details__shipping {
  display: flex;
  color: #434343;
  font-size: 16px;
  line-height: normal;
  font-weight: normal; }
  .product-details__shipping:before {
    content: "\F004\00FE0E"; }
  .product-details__shipping::before {
    font-size: 26px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: #555555; }

.product-details__price-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; }

.product-details__discount-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%); }

.product-details__discount-badge {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  padding: 2px 10px 1px 10px;
  background-color: #ffc446;
  color: #5e4000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-right: 4px; }

.product-details__price-crossout {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  margin-left: 8px;
  color: #9d9d9d;
  text-decoration: line-through; }

.product-details__price-value {
  font-size: 28px;
  line-height: normal;
  font-weight: normal;
  color: #ffae00; }

.product-details__price-label {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #ffae00;
  margin-right: 3px; }

.product-details__purchase-button-container {
  margin-top: 16px; }

.product-details__purchase-button {
  font-size: 20px;
  line-height: normal;
  font-weight: normal;
  background-color: #ffc446;
  color: #5e4000;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer; }

.top-banner__container {
  display: flex;
  justify-content: center;
  background-color: #5e4000; }

.cart__main {
  display: flex; }

.cart__body {
  flex-grow: 1;
  flex-basis: 75.5%; }

.cart__list {
  list-style: none; }

.cart__item {
  display: flex; }

.cart__item-image-wrapper {
  max-width: 150px; }
  .cart__item-image-wrapper img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; }

.cart__header {
  font-size: 25px;
  line-height: normal;
  font-weight: normal;
  margin: 20px 0; }

.cart__empty-wrapper {
  padding-top: 150px;
  background-image: url("../images/svg/shopping-cart.svg");
  background-repeat: no-repeat;
  background-size: 130px 130px;
  background-position: center top; }

.cart__empty-text {
  text-align: center;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
  color: #555555; }

.cart__empty-link-wrapper {
  display: flex;
  justify-content: center; }

.cart__empty-link-text {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  margin-top: 6px;
  position: relative;
  text-align: center;
  color: #5e4000; }

.quantity-setter__wrapper {
  display: flex; }

.quantity-setter__control {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  font-weight: normal; }

.quantity-setter__number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  font-weight: normal; }

.main-content {
  min-height: 100vh;
  padding: 30px 100px 100px; }

.ReactModal__Overlay--after-open {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 25;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.ReactModal__Content {
  inset: 0 !important;
  width: 500px;
  height: 350px;
  left: 50% !important;
  top: 50% !important;
  transform: translateX(-50%) translateY(-50%); }
