@charset "UTF-8";
@font-face {
    font-family: '<%= fontName %>';
    src: url('<%= fontPath %><%= fontName %>.eot');
    src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype');
}

@function unicode($value) {
    @return unquote('"#{$value}"');
}

@mixin <%= cssClass%>-styles {
    font-family: '<%= fontName %>';
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
}

%<%= cssClass%> {
    @include <%= cssClass%>-styles;
}

@function <%= cssClass%>-char($filename) {
    $char: "";
<% _.each(glyphs, function(glyph) { %>
    @if $filename == <%= glyph.fileName %> {
    $char: unicode(\<%= glyph.codePoint %>\00FE0E);
}<% }); %>

@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $include: true, $extend: true) {
&:#{$insert} {
    @if $include {
        @if $extend {
            @extend %<%= cssClass%>;
        } @else {
            @include <%= cssClass%>-styles;
        }
    }
    content: <%= cssClass%>-char($filename);
}
}

[data-<%= cssClass %>]{
    display: inline-block;
    line-height: 1;
}

[data-<%= cssClass %>]:before{
    display: inline-block;
    @include <%= cssClass%>-styles;
}

<% _.each(glyphs, function(glyph) { %>
[data-<%= cssClass %>="<%= glyph.fileName %>"]{
    @include <%= cssClass%>(<%= glyph.fileName %>, before, false);
}
<% }); %>