.ReactModal {
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 25;
  // height: 100%;
  // width: 100%;

  @include e(Overlay){

    @include m("after-open"){
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 25;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }

  @include e(Content){
    inset: 0 !important;
    width: 500px;
    height: 350px;
    left: 50%!important;
    top: 50%!important;
    transform: translateX(-50%) translateY(-50%);
  }
}