@charset "UTF-8";
@font-face {
    font-family: 'honey';
    src: url('../fonts/honey.eot');
    src: url('../fonts/honey.eot?#iefix') format('eot'),
    url('../fonts/honey.woff2') format('woff2'),
    url('../fonts/honey.woff') format('woff'),
    url('../fonts/honey.ttf') format('truetype');
}

@function unicode($value) {
    @return unquote('"#{$value}"');
}

@mixin icon-styles {
    font-family: 'honey';
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == cardiogram {
    $char: unicode(\F001\00FE0E);
}
    @if $filename == description {
    $char: unicode(\F002\00FE0E);
}
    @if $filename == guarantee {
    $char: unicode(\F003\00FE0E);
}
    @if $filename == shipped {
    $char: unicode(\F004\00FE0E);
}

@return $char;
}

@mixin icon($filename, $insert: before, $include: true, $extend: true) {
&:#{$insert} {
    @if $include {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles;
        }
    }
    content: icon-char($filename);
}
}

[data-icon]{
    display: inline-block;
    line-height: 1;
}

[data-icon]:before{
    display: inline-block;
    @include icon-styles;
}


[data-icon="cardiogram"]{
    @include icon(cardiogram, before, false);
}

[data-icon="description"]{
    @include icon(description, before, false);
}

[data-icon="guarantee"]{
    @include icon(guarantee, before, false);
}

[data-icon="shipped"]{
    @include icon(shipped, before, false);
}