.quantity-setter {
  @include e(wrapper){
    display: flex;
  }

  @include e(control){
    background-color: $neutral-000;
    width: 30px;
    height: 30px;
    @include flex-center;
    @include tools-font(16px);

  }

  @include e(number){
    width: 30px;
    height: 30px;
    @include flex-center;
    @include tools-font(16px);
  }
}