.product {
  @include e(container){
    display: block;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding: 16px;
    top: 0;

    &:hover{
      top: -2px;
      box-shadow: 0px 0px 5px 0px rgb(220,220,220) ;
    }
  }

  @include e(image-wrapper){
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    height: 200px;
    width: 200px;
  }

  @include e(image-primary){
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include e(name){
    @include tools-font(16px);
    margin-top: 24px;
    margin-bottom: 10px;
    text-decoration: none;
    color: $neutral-700;
  }


  @include e(package-name){
    @include tools-font(12px);
    color: $neutral-500;
  }

  @include e(info-row){
    position: relative;
    display: flex;
    align-items: center;

    @include m(spaced){
      justify-content: space-between;
    }

    @include m(price){
      padding-top: 24px;
    }
  }

  @include e(price-floated){
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  @include e(price-crossed){
    @include tools-font(12px);
    color: $neutral-300;
    text-decoration: line-through;
  }


  @include e(price){
    display: flex;
    align-items: center;
    @include tools-font(16px, normal, bold);
    color: $neutral-900;

    @include m(red){
      color: $brand-pink-primary;

      & .price-label{
        color: $brand-pink-primary;
      }
    }
  }

  @include e(price-label){
    @include tools-font(14px);
    margin-top: 3px;
    margin-right: 3px;

    @include m(red){
      color: $brand-pink-primary;
    }
  }

  @include e(discount-badge){
    @include tools-font(14px, 1.8, bold);
    padding: 0 3px;
    background-color: #fb3449;
    color: $neutral-000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 4px;

    // &::before{
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   content: "%";
    //   margin-right: 1px;
    // }
  }

  @include e(availability){
    position: absolute;
    padding: 4px;
    color: $neutral-000;
    left: 0;
    top: 10px;

    @include m(ready){
      background-color: #05b02d;
    }

    @include m(empty){
      background-color: $neutral-500;
    }
  }

}