.navbar {

    @include e(list-wrapper){
      background-color: $honey-color;
    }

    @include e(container){
        position: sticky;
        top: 0;
        z-index: 20;
        box-shadow: 0 3px 6px -2px #cac9c9;;
    }

    @include e(list-wrapper){
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    @include e(list-item){
        position: relative;
        @include flex-center;
        transition: $global-transition;
        border-bottom: 2px solid $honey-color;
        & + & {
            margin-right: 10px;
        }

        &::after{
            content: "";
            transition: $global-transition;
            position: absolute;
            opacity: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: $honey-dark-color2;
        }

        &:hover{
            &::after{
                opacity: 1;
                width: 100%;
            }
        }

        
    }

    @include e(list-item-link){
      position: relative;
      @include tools-font(18px);
      padding: 8px;
      color: $honey-dark-color2;
      text-align: center;
      min-width: 60px;
    }

    @include e(list-item-quantity){
      @include flex-center;
      @include tools-font(13px);
      position: absolute;
      top: 6px;
      left: -7px;
      height: 17px;
      width: 17px;
      background-color: $honey-dark-color2;
      border-radius: 50%;
      color: $neutral-000;
    }


}