.gallery {
  @include e(wrapper){
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }

  @include e(item-wrapper){
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: center;
  }

  @include e(image-item){
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}