.product-details {
  @include e(container){
    display: flex;
  }

  @include e(gallery){
    flex: 1;
    margin: 10px;
  }

  @include e(name){
    @include tools-font(22px);
    color: $neutral-900;
    margin-bottom: 12px;
  }

  @include e(info-container){
    display: flex;
    flex: 2;
    padding-right: 15px;
    border-right: 1px solid $neutral-100;
  }

  @include e(health-header){
    display: flex;
    align-items: center;
    @include tools-font(16px);
    color: $neutral-800;
    @include icon(cardiogram);
    &::before{
      color: red;
      @include icon-size(16px);
      margin-left: 8px;
    }
  }

  @include e(health-list){
    color: $neutral-700;
    padding-right: 6px;
    @include tools-font(13px);
    white-space: pre-line;
  }

  @include e(description){
    margin-top: 16px;
  }

  @include e(description-header){
    display: flex;
    align-items: center;
    @include tools-font(16px);
    color: $neutral-800;

    @include icon(description);
    &::before{
      color: $neutral-800;
      @include icon-size(16px);
      margin-left: 8px;
    }
  }

  @include e(description-text){
    color: $neutral-700;
    @include tools-font(13px);
    padding-right: 6px;
  }
  
  @include e(purchase-container){
    background-color: $neutral-050;
    border-radius: 10px;
    padding: 0 20px;
    margin-right: 16px;
    max-width: 300px;
  }

  @include e(purchase-row){
    padding: 20px 0;
    & + & {
      border-top: 1px solid $neutral-200;
    }
  }

  @include e(warranty){
    display: flex;
    color: $neutral-700;
    @include tools-font(16px);
    @include icon(guarantee);
    &::before{
      @include icon-size(26px);
      color: $neutral-600;
      margin-left: 8px;
    }
  }

  @include e(shipping){
    display: flex;
    color: $neutral-700;
    @include tools-font(16px);
    @include icon(shipped);
    &::before{
      @include icon-size(26px);
      margin-left: 8px;
      color: $neutral-600;
    }
  }

  @include e(price-wrapper){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  @include e(discount-wrapper){
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
  }

  @include e(discount-badge){
    @include tools-font(14px, 1.8, bold);
    padding: 2px 10px 1px 10px;
    background-color: $honey-color;
    color: $honey-dark-color2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-right: 4px;
  }

  @include e(price-crossout){
    @include tools-font(16px);
    margin-left: 8px;
    color: $neutral-400;
    text-decoration: line-through;
  }

  @include e(price-value){
    @include tools-font(28px);
    color:  $honey-saturated-color;
  }

  @include e(price-label){
    @include tools-font(14px);
    color: $honey-saturated-color;
    margin-right: 3px;
  }

  @include e(purchase-button-container){
    margin-top: 16px;
  }

  @include e(purchase-button){
    @include tools-font(20px);
    background-color: $honey-color;
    color: $honey-dark-color2;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }


}