.cart {

  @include e(main){
    display: flex;
  }

  @include e(body){
    flex-grow: 1;
    flex-basis: 75.5%;
  }

  @include e(list){
    list-style: none;
  }

  @include e(item){
    display: flex;
  }

  @include e(item-image-wrapper){
    max-width: 150px;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include e(header){
    @include tools-font(25px);
    margin: 20px 0;
  }


  @include e(empty-wrapper){
    padding-top: 150px;
    background-image: url('../images/svg/shopping-cart.svg');
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position: center top;
  }

  @include e(empty-text){
    text-align: center;
    @include tools-font(18px);
    color: $neutral-600;
    
  }

  @include e(empty-link-wrapper){
    display: flex;
    justify-content: center;
  }

  @include e(empty-link-text){
    @include tools-font(14px);
    margin-top: 6px;
    position: relative;
    text-align: center;
    color: $honey-dark-color2;
  }
}