.product-list {


  @include e(grid){
    display: grid;
    grid-template-columns: repeat(3, 250px) ;
    column-gap: 16px;
    row-gap: 16px;
    justify-items: stretch;
  }

  @include e(header){
    @include tools-font(25px);
    margin: 20px 0;
  }
}