///* ========================================================================
//   #FONT-SIZE
//   ======================================================================== */

// Generate a font-size and baseline-compatible line-height.
@mixin tools-font($font-size, $line-height: normal, $font-weight: normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    // font-style: $font-style;
}