$elementSeparator: '__';
$modifierSeparator: '--';

@mixin b($block) {
    .#{$block} {
        @content;
    }
}

@mixin e($element) {
    @at-root {
        #{&}#{$elementSeparator+$element} {
            @content;
        }
    }
}

@mixin m($modifier) {
    @at-root {
        #{&}#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}